@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;600&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  font-family: "Albert Sans"; }

#active {
  background-color: yellow;
  font-weight: 600; }

#active a {
  color: black; }

#active:hover {
  background-color: black; }

#active:hover a {
  color: white; }

.nav-menu {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  background-color: black;
  width: 100%; }
  .nav-menu li:hover {
    background-color: yellow;
    color: black;
    transition: ease-in;
    transition-duration: 0.2s; }
  .nav-menu li {
    list-style-type: none; }
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.5vw;
    transition: 0.3s; }
  .nav-menu li:hover a {
    color: inherit; }

.navigation {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; }

.hamburger {
  grid-area: nav;
  position: relative;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  margin-left: 10px; }

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s; }

.hamburger:before {
  top: -10px;
  width: 20px; }

.hamburger:after {
  top: 10px;
  width: 25px; }

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0; }

.hamburger,
.toggle-menu {
  display: none; }

.navigation input:checked ~ .hamburger {
  background: transparent; }

.navigation input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px; }

.navigation input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px; }

.navigation input:checked ~ .nav-menu {
  left: 0;
  box-shadow: 20px 0 20px rgba(0, 0, 0, 0.3); }

.grilla {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "nav" "main" "footer"; }

.main {
  height: 100%;
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.fill {
  display: flex;
  max-height: 630px;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .fill img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%; }

.container {
  height: 100vh;
  perspective: 1.5px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; }

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(2); }

.backg-1 {
  background: url("../img/big-cheeseburger-and-french-fries.png") center/cover; }

.backg-2 {
  background: url("../img/cook-holds-delicious-beef-hamburger-just-made.png") center/cover; }

.normal {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; }

.normal2 {
  width: 100%;
  background: #eee;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; }

.parallax h1 {
  color: #fff;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }

.parallax:nth-child(1) h1 {
  text-align: left; }

.parallax:nth-child(1) p {
  text-align: center; }

.parallax:nth-child(3) p {
  text-align: center; }

.parallax:nth-child(5) p {
  text-align: center; }

.normal .h1 {
  color: #333; }

@media screen and (max-width: 600px) {
  .header-img {
    width: 10vw;
    margin-right: 0.5rem; }
  nav {
    position: sticky;
    top: 0;
    z-index: 1; }
  .hamburger,
  .toggle-menu {
    display: block; }
  .nav-menu {
    grid-area: nav;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -200%;
    background: black;
    width: 300px;
    height: 100%;
    padding-top: 65px;
    padding-left: 13vw; }
    .nav-menu li {
      width: 100%; }
    .nav-menu li a,
    .nav-menu li a:hover {
      padding: 20px;
      font-size: 20px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; }
  nav {
    position: sticky;
    top: 0;
    z-index: 1; }
  .navigation {
    height: 12vw; }
  .section1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center; }
    .section1 h1 {
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .section1 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section1 button:hover {
      background-color: black;
      color: white; }
    .section1 a {
      height: 0px; }
  .h1 {
    margin: 0 auto;
    width: 90%;
    font-size: 10vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .parallax p {
    font-size: 4.5vw;
    width: 80vw;
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    line-height: 1.4; }
  .h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 18vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: black;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .section3 h2 {
      margin-bottom: 2rem; }
    .section3 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section3 button:hover {
      background-color: black;
      color: white; }
    .section3 a {
      height: 0px; }
  .normal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 2rem; }
    .normal p {
      font-weight: 600;
      font-size: 2vw; }
    .normal img {
      width: 22vw;
      margin-top: 12vh;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .normal img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .h3 {
    margin: 0 auto;
    width: 90%;
    font-size: 15vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: left;
    text-transform: uppercase; }
  .section5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    .section5 h3 {
      margin-bottom: 2rem; }
    .section5 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section5 button:hover {
      background-color: black;
      color: white; }
    .section5 a {
      height: 0px; }
  .backg-3 {
    background: url("../img/front-view-burger-on-stand.png") center/cover; }
  .menu-section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu-section1 h1 {
      margin-top: 5rem;
      font-size: 60px;
      text-transform: uppercase;
      text-align: center; }
    .menu-section1 p {
      margin-top: 3rem;
      font-size: x-large;
      text-align: center; }
  .menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20vw;
    text-transform: uppercase;
    margin-top: 5rem; }
  .menu-article {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .menu-article img {
      width: 28vw; }
  .menu-section2 {
    width: 90%;
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-section3 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-section4 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 6rem; }
  .menu-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20vw;
    text-transform: uppercase;
    font-size: 20vw;
    white-space: nowrap;
    margin-top: 5rem; }
  .titles {
    margin-top: 1.5vw;
    font-size: 4vw;
    font-weight: bold;
    text-align: center; }
  .lorem {
    font-size: 2vw;
    width: 100%;
    margin-top: 2vw;
    text-align: center; }
  .nosotros-section1 {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .nosotros-section1 h1 {
      margin-top: 5rem;
      font-size: 8vw;
      text-transform: uppercase; }
    .nosotros-section1 p {
      margin: 4rem 0rem 10rem 0rem; }
  .nosotros-redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem 3rem 1rem; }
    .nosotros-redes p {
      font-weight: 600;
      font-size: 5vw; }
    .nosotros-redes img {
      width: 14vw; }
  .locales-section {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
  .locales-section2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
  .locales-article {
    display: flex;
    flex-flow: column nowrap;
    width: 43%; }
    .locales-article iframe {
      margin-top: 2rem;
      width: 100%; }
  .dire {
    margin-top: 1rem;
    font-weight: 600; }
  .contacto-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: white; }
    .contacto-main iframe {
      margin-top: 2rem; }
  .contacto-section1 h1 {
    font-size: 15vw;
    white-space: nowrap;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 5rem 0rem 5rem 0rem; }
  .contacto-section1 h2 {
    font-size: 5vw;
    text-transform: uppercase; }
  .contacto-section1 p {
    margin: 0.5vw 0rem 1rem 0rem; }
  .contacto-redes {
    width: 100%;
    margin: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem; }
    .contacto-redes p {
      font-weight: 600;
      font-size: 5vw; }
    .contacto-redes img {
      width: 14vw; }
  .contacto-section3 {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    .contacto-section3 h3 {
      color: white;
      margin: 5rem 0rem 5rem 0rem;
      width: 94.3%;
      text-align: center;
      font-size: x-large; }
  .form {
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 86%;
    padding: 10px;
    display: flex; }
    .form input[type=text] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=email] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=number] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=submit] {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;
      width: 100%;
      margin-top: 8px; }
    .form input[type=submit]:hover {
      width: 100%;
      background-color: black;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form textarea {
      font-family: sans-serif;
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form select {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
  .foot-padre {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #eee; }
    .foot-padre img {
      width: 50vw; }
  .foot-padre1 {
    margin: 30rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    background-color: #fff; }
    .foot-padre1 img {
      padding-bottom: 0;
      padding-left: 1rem;
      width: 190px;
      height: 190px; }
  .foot-hijo-1 {
    font-size: larger;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    align-items: center;
    margin: 0rem 0rem 2rem 0rem; }
    .foot-hijo-1 a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      line-height: 1.4; }
  .footer-p {
    margin-top: 1rem;
    font-size: xx-large;
    font-weight: 600;
    text-align: center; }
  .footer-p3 {
    font-size: larger;
    text-align: center;
    padding: 30px;
    margin-bottom: 4rem; }
  .footer-p4 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
    text-align: left; }
  .footer-ul {
    grid-area: nav;
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: black; }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    list-style-type: none;
    padding-top: 2rem;
    width: 100%;
    margin-bottom: 3rem; }
    footer ul a {
      color: black;
      text-decoration: none;
      font-size: x-large;
      text-align: left; } }

@media only screen and (min-width: 600px) {
  .header-img {
    width: 5vw;
    margin-right: 0.5rem; }
  nav {
    position: sticky;
    top: 0;
    z-index: 1; }
  .section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .section1 h1 {
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .section1 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section1 button:hover {
      background-color: black;
      color: white; }
    .section1 a {
      height: 0px; }
  .h1 {
    margin: 0 auto;
    width: 90%;
    font-size: 6vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .parallax p {
    font-size: x-large;
    margin-top: 5vh;
    width: 80vw;
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    line-height: 1.4; }
  .h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 100px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: black;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .section3 h2 {
      margin-bottom: 2rem; }
    .section3 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section3 button:hover {
      background-color: black;
      color: white; }
    .section3 a {
      height: 0px; }
  .normal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 2rem; }
    .normal p {
      font-weight: 600;
      font-size: 2vw; }
    .normal img {
      width: 14vw;
      margin-top: 12vh;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .normal img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .h3 {
    margin: 0 auto;
    width: 90%;
    font-size: 100px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: left;
    text-transform: uppercase; }
  .section5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .section5 h3 {
      margin-bottom: 2rem; }
    .section5 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section5 button:hover {
      background-color: black;
      color: white; }
    .section5 a {
      height: 0px; }
  .backg-3 {
    background: url("../img/front-view-burger-on-stand.png") center/cover; }
  .menu-section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu-section1 h1 {
      margin-top: 15rem;
      font-size: 7vw;
      text-transform: uppercase;
      text-align: center; }
    .menu-section1 p {
      margin-top: 3rem;
      font-size: x-large;
      text-align: center;
      width: 80%; }
  .menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20vw;
    text-transform: uppercase;
    margin-top: 15rem; }
  .menu-article {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .menu-article img {
      width: 25vw; }
  .menu-section2 {
    width: 90%;
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-section3 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-section4 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 6rem; }
  .menu-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20vw;
    text-transform: uppercase;
    font-size: 20vw;
    white-space: nowrap;
    margin-top: 5rem; }
  .titles {
    margin-top: 1.5vw;
    font-size: 4vw;
    font-weight: bold;
    text-align: center; }
  .lorem {
    font-size: 2vw;
    width: 100%;
    margin-top: 2vw;
    text-align: center; }
  .nosotros-section1 {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .nosotros-section1 h1 {
      margin-top: 5rem;
      font-size: 5vw;
      text-transform: uppercase; }
    .nosotros-section1 p {
      margin: 4rem 0rem 10rem 0rem; }
  .nosotros-redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem 3rem 1rem; }
    .nosotros-redes p {
      font-weight: 600;
      font-size: 3.5vw; }
    .nosotros-redes img {
      width: 14vw; }
  .locales-section {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
  .locales-section2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
  .locales-article {
    display: flex;
    flex-flow: column nowrap;
    width: 43%; }
    .locales-article iframe {
      margin-top: 2rem;
      width: 100%; }
  .contacto-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: white; }
    .contacto-main iframe {
      width: 100%; }
  .contacto-section1 h1 {
    font-size: 15vw;
    white-space: nowrap;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 5rem 0rem 5rem 0rem; }
  .contacto-section1 h2 {
    font-size: 6vw;
    text-transform: uppercase; }
  .contacto-section1 p {
    font-size: 3vw;
    margin: 2vw 0rem 2rem 0rem; }
  .contacto-redes {
    width: 100%;
    margin: 5rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem; }
    .contacto-redes p {
      font-weight: 600;
      font-size: 4vw; }
    .contacto-redes img {
      width: 14vw; }
  .contacto-section3 {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    .contacto-section3 h3 {
      color: white;
      margin: 5rem 0rem 5rem 0rem;
      width: 94.3%;
      text-align: center;
      font-size: x-large; }
  .form {
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 86%;
    padding: 10px;
    display: flex; }
    .form input[type=text] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=email] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=number] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=submit] {
      width: 100%;
      background-color: yellow;
      padding: 30px 30px;
      margin: 10px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form input[type=submit]:hover {
      width: 100%;
      background-color: black;
      color: white;
      padding: 30px 30px;
      margin: 10px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form textarea {
      font-family: sans-serif;
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form select {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
  .foot-padre {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #eee; }
    .foot-padre img {
      grid-area: footer;
      width: 35vw; }
  .foot-padre1 {
    margin: 30rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    background-color: #fff; }
    .foot-padre1 img {
      padding-bottom: 0;
      padding-left: 1rem;
      width: 190px;
      height: 190px; }
  .foot-hijo-1 {
    font-size: larger;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    align-items: center;
    margin: 0rem 0rem 2rem 0rem; }
    .foot-hijo-1 a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      line-height: 1.4; }
  .footer-p {
    margin-top: 2rem;
    font-size: xx-large;
    font-weight: 600;
    text-align: center; }
  .footer-p3 {
    font-size: larger;
    text-align: center;
    padding: 30px;
    margin-bottom: 4rem; }
  .footer-p4 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
    text-align: left; }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    line-height: 40px;
    padding-top: 2rem;
    width: 100%;
    margin-bottom: 4rem; }
    footer ul a {
      color: black;
      text-decoration: none;
      font-size: x-large;
      text-align: left; } }

@media only screen and (min-width: 1200px) {
  .header-img {
    width: 3vw;
    margin-right: 0.5rem; }
  nav {
    position: sticky;
    top: 0;
    z-index: 1; }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .section1 h1 {
      margin-bottom: 2rem; }
    .section1 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section1 button:hover {
      background-color: black;
      color: white; }
    .section1 a {
      height: 0px; }
  .h1 {
    margin: 0 auto;
    width: 90%;
    font-size: 4vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .parallax p {
    font-size: 2vw;
    margin-top: 4vh;
    width: 80vw;
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    line-height: 1.4; }
  .h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 6vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: black;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section3 h2 {
      margin-bottom: 2rem; }
    .section3 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section3 button:hover {
      background-color: black;
      color: white; }
    .section3 a {
      height: 0px; }
  .normal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 2rem; }
    .normal p {
      font-weight: 600;
      font-size: 2vw; }
    .normal img {
      width: 12vw;
      margin-top: 8vh;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .normal img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .h3 {
    margin: 0 auto;
    width: 90%;
    font-size: 100px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: left;
    text-transform: uppercase; }
  .section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section5 h3 {
      margin-bottom: 2rem;
      font-family: 'Albert Sans', sans-serif; }
    .section5 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section5 button:hover {
      background-color: black;
      color: white; }
    .section5 a {
      height: 0px; }
  .menu-section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu-section1 h1 {
      margin: 20rem 0rem 3rem 0rem;
      font-size: 7vw;
      text-transform: uppercase;
      text-align: center; }
    .menu-section1 p {
      margin-top: 3rem;
      font-size: x-large;
      text-align: center;
      width: 80%; }
  .menu-section2 {
    width: 90%;
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17vw;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .menu-article {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .menu-article img {
      width: 25vw;
      transition: ease-in-out; }
    .menu-article img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.5s; }
  .menu-section3 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-section4 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 6rem; }
  .menu-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17vw;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 20vw;
    white-space: nowrap; }
  .titles {
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Albert Sans', sans-serif;
    text-align: center; }
  .lorem {
    font-size: 1.5vw;
    width: 100%;
    margin-top: 2vw;
    text-align: center;
    font-family: 'Albert Sans', sans-serif; }
  .nosotros-section1 {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .nosotros-section1 h1 {
      margin-top: 5rem;
      font-size: 3vw;
      text-transform: uppercase; }
    .nosotros-section1 p {
      margin: 4rem 0rem 10rem 0rem; }
  .nosotros-redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem; }
    .nosotros-redes p {
      font-weight: 600;
      font-size: 2vw; }
    .nosotros-redes img {
      width: 11vw;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .nosotros-redes img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .locales-section {
    margin-top: 5rem;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
  .locales-section2 {
    margin-top: 5rem;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 5rem; }
  .locales-article {
    display: flex;
    flex-flow: column nowrap; }
    .locales-article iframe {
      margin-top: 2rem;
      width: 30vw; }
  .contacto-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: white; }
    .contacto-main iframe {
      width: 45%;
      margin-top: 22vw; }
  .contacto-section1 h1 {
    font-size: 6vw;
    white-space: nowrap;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10rem 0rem 5rem 0rem; }
  .contacto-section1 h2 {
    margin: 0rem 0rem 0rem 0rem;
    font-size: 3vw;
    text-transform: uppercase; }
  .contacto-section1 p {
    font-size: 2vw;
    margin: 0.5vw 0rem 1rem 0rem; }
  .contacto-redes {
    width: 100%;
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem; }
    .contacto-redes p {
      font-weight: 600;
      font-size: 2vw; }
    .contacto-redes img {
      width: 11vw;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .contacto-redes img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .contacto-section3 {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    .contacto-section3 h3 {
      color: white;
      margin: 5rem 0rem 5rem 0rem;
      width: 94.3%;
      text-align: center;
      font-size: x-large; }
  .form {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 86%;
    padding: 10px;
    display: flex; }
    .form input[type=text] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=email] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=number] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=submit] {
      width: 100%;
      background-color: yellow;
      padding: 14px 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form input[type=submit]:hover {
      width: 100%;
      background-color: black;
      color: white;
      padding: 14px 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form textarea {
      font-family: sans-serif;
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form select {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
  .foot-padre1 {
    grid-area: footer;
    margin: 30rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    background-color: #fff; }
    .foot-padre1 img {
      grid-area: footer;
      padding-bottom: 0;
      padding-left: 1rem;
      width: 190px;
      height: 190px; }
  .foot-padre {
    grid-area: footer;
    margin: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-top: 1rem;
    background-color: #eee; }
    .foot-padre img {
      grid-area: footer;
      padding-bottom: 0;
      padding-left: 1rem;
      width: 190px;
      height: 190px; }
  .foot-hijo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium; }
    .foot-hijo-1 a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      line-height: 1.4; }
  .footer-p {
    font-size: larger;
    font-weight: 600;
    text-align: center; }
  .footer-p3 {
    padding-top: 30px;
    font-size: larger; }
  .footer-p4 {
    font-size: larger;
    font-weight: 600;
    text-align: left; }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-top: 2rem;
    line-height: 30px;
    width: 100%; }
    footer ul a {
      color: black;
      text-decoration: none;
      font-size: large;
      text-align: left; } }

@media only screen and (min-width: 2500px) {
  .header-img {
    width: 4vw;
    margin-right: 0.5rem; }
  nav {
    position: sticky;
    top: 0;
    z-index: 1; }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .section1 h1 {
      margin-bottom: 2rem; }
    .section1 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section1 button:hover {
      background-color: black;
      color: white; }
    .section1 a {
      height: 0px; }
  .h1 {
    margin: 0 auto;
    width: 90%;
    font-size: 4vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .parallax p {
    font-size: 2vw;
    margin-top: 4vh;
    width: 80vw;
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    line-height: 1.4; }
  .h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 6vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: black;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase; }
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section3 h2 {
      margin-bottom: 2rem; }
    .section3 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section3 button:hover {
      background-color: black;
      color: white; }
    .section3 a {
      height: 0px; }
  .normal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 2rem; }
    .normal p {
      font-weight: 600;
      font-size: 2vw; }
    .normal img {
      width: 12vw;
      margin-top: 8vh;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .normal img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .h3 {
    margin: 0 auto;
    width: 90%;
    font-size: 100px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: left;
    text-transform: uppercase; }
  .section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section5 h3 {
      margin-bottom: 2rem;
      font-family: 'Albert Sans', sans-serif; }
    .section5 button {
      overflow: hidden;
      margin-top: 2rem;
      background-color: yellow;
      padding: 20px 60px 20px 60px;
      font-size: x-large;
      font-weight: 300;
      color: black;
      border-radius: 4px;
      border: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer; }
    .section5 button:hover {
      background-color: black;
      color: white; }
    .section5 a {
      height: 0px; }
  .menu-section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu-section1 h1 {
      margin: 20rem 0rem 3rem 0rem;
      font-size: 7vw;
      text-transform: uppercase;
      text-align: center; }
    .menu-section1 p {
      margin-top: 3rem;
      font-size: x-large;
      text-align: center; }
  .menu-section2 {
    width: 90%;
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17vw;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .menu-article {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .menu-article img {
      width: 25vw;
      transition: ease-in-out; }
    .menu-article img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.5s; }
  .menu-section3 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-section4 {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 6rem; }
  .menu-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17vw;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 20vw;
    white-space: nowrap; }
  .titles {
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Albert Sans', sans-serif;
    text-align: center; }
  .lorem {
    font-size: 1.5vw;
    width: 100%;
    margin-top: 2vw;
    text-align: center;
    font-family: 'Albert Sans', sans-serif; }
  .nosotros-section1 {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .nosotros-section1 h1 {
      margin-top: 5rem;
      font-size: 3vw;
      text-transform: uppercase; }
    .nosotros-section1 p {
      margin: 4rem 0rem 10rem 0rem; }
  .nosotros-redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem; }
    .nosotros-redes p {
      font-weight: 600;
      font-size: 2vw; }
    .nosotros-redes img {
      width: 11vw;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .nosotros-redes img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .locales-section {
    margin-top: 5rem;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
  .locales-section2 {
    margin-top: 5rem;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 5rem; }
  .locales-article {
    display: flex;
    flex-flow: column nowrap; }
    .locales-article iframe {
      margin-top: 2rem;
      width: 30vw; }
  .contacto-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: white; }
    .contacto-main iframe {
      width: 45%;
      margin-top: 22vw; }
  .contacto-section1 h1 {
    font-size: 6vw;
    white-space: nowrap;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10rem 0rem 5rem 0rem; }
  .contacto-section1 h2 {
    margin: 0rem 0rem 0rem 0rem;
    font-size: 3vw;
    text-transform: uppercase; }
  .contacto-section1 p {
    font-size: 2vw;
    margin: 0.5vw 0rem 1rem 0rem; }
  .contacto-redes {
    width: 100%;
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem; }
    .contacto-redes p {
      font-weight: 600;
      font-size: 2vw; }
    .contacto-redes img {
      width: 11vw;
      transition: ease-in;
      transition: ease-out;
      transition-duration: 0.3s; }
    .contacto-redes img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.3s; }
  .contacto-section3 {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    .contacto-section3 h3 {
      color: white;
      margin: 5rem 0rem 5rem 0rem;
      width: 94.3%;
      text-align: center;
      font-size: x-large; }
  .form {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 86%;
    padding: 10px;
    display: flex; }
    .form input[type=text] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=email] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=number] {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form input[type=submit] {
      width: 100%;
      background-color: yellow;
      padding: 14px 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form input[type=submit]:hover {
      width: 100%;
      background-color: black;
      color: white;
      padding: 14px 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .form textarea {
      font-family: sans-serif;
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .form select {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
  .foot-padre1 {
    grid-area: footer;
    margin: 45rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    background-color: #fff; }
    .foot-padre1 img {
      grid-area: footer;
      padding-bottom: 0;
      padding-left: 1rem;
      width: 12vw;
      height: 15vh; }
  .foot-padre {
    grid-area: footer;
    margin: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-top: 1rem;
    background-color: #eee; }
    .foot-padre img {
      grid-area: footer;
      padding-bottom: 0;
      padding-left: 1rem;
      width: 190px;
      height: 190px; }
  .foot-hijo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium; }
    .foot-hijo-1 a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      line-height: 2.5;
      font-size: 1vw; }
    .foot-hijo-1 p {
      font-size: 1.5vw; }
  .footer-p {
    font-size: 2vw;
    font-weight: 600;
    text-align: center; }
  .footer-p3 {
    padding-top: 30px;
    font-size: 1.4vw; }
  .footer-p4 {
    font-size: 2vw;
    font-weight: 600;
    text-align: left; }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-top: 2rem;
    line-height: 30px;
    width: 100%; }
    footer ul a {
      color: black;
      text-decoration: none;
      font-size: 1.5vw;
      line-height: 1.3;
      text-align: left; } }
